.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.login-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    color: #202020;
    background-color: #d7ff60;
    border: none;
    border-radius: 0.3rem;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
}


.login-button:hover {
    background-color: #9ac335;
    cursor: pointer;
}