body {
    background-color: #f5f5f7;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #d7ff60;
}

th {
    background-color: #d7ff60;
    color: #202020;
}

td {
    color: #202020;
}

a {
    color: #d7ff60;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}